option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: contemplada_aqui.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: contemplada_aqui.settings
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "contemplada_aqui/cotas/static/"