<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Detalhes da cota | Dashboard Contemplada Aqui</title>
</head>
<body>

    <form method="POST">




<br>

</form>
 <form method="POST" action="/update/{{cota.codigo}}">
    {% csrf_token %}
    <table>
    <tr>
        <td><label for="codigo">Código: </label></td>
        <td><input type="text" value="{{ cota.codigo }}" name="codigo"><br></td>
    </tr>

    <tr>
        <td><label for="administradora">Administradora: </label></td>
        <td><input type="text" value="{{ cota.administradora }}" name="administradora"><br></td>
    </tr>

    <tr>
        <td><label for="valor">Crédito: </label></td>
        <td><input type="text" value="{{ cota.valor }}" name="valor"><br></td>
    </tr>

    <tr>
        <td><label for="entrada">Entrada: </label></td>
        <td><input type="text" value="{{ cota.entrada }}" name="entrada"><br></td>
    </tr>

    <tr>
        <td><label for="parcelas">Parcelas: </label></td>
        <td><input type="text" value="{{ cota.parcelas }}" name="parcelas"><br></td>
    </tr>

    <tr>
        <td><label for="segmento">Segmento: </label></td>
        <td><input type="text" value="{{ cota.segmento }}" name="segmento"><br></td>
    </tr>

    <tr>
        <td><label for="vencimento">Vencimento: </label></td>
        <td><input type="text" value="{{ cota.vencimento }}" name="vencimento"><br></td>
    </tr>
    
</table>
<button type="submit" class="btn btn-success">Atualizar</button>
<a href="/dashboard"><button type="button" class="btn btn-dark">Voltar</button></a>
</form>

</body>

</form>

</body>
</html>