    <tr>
        <td><img src="{{cota.img}}" alt="{{cota.administradora}}"></td>
		<td>{{ cota.valor }} </td>
		<td>{{ cota.entrada }} </td>
		<td>{{ cota.parcelas }}</td>
		<td>{{ cota.segmento }}</td>
		<td>{{ cota.vencimento }}</td>
		<td>{{ cota.codigo }}</td>
		<td><a href="https://api.whatsapp.com/send?phone=5519989081276&text=Ol%C3%A1%2C%20vi%20o%20seu%20site%20e%20tenho%20interesse%20no%20cr%C3%A9dito%20de%20c%C3%B3digo%{{cota.codigo}}" target="_blank" class="btn btn-success" title="Quero essa cota">Quero essa cota</a></td>
    </tr>
