<td height="17"><img src="<?php echo $dados['ADMINISTRADORA'] ?>" alt="<?php echo $dados['CARTA'] ?>" width="100"></td>
		<td  valign=middle sdval="45402" sdnum="1033;0;_-&quot;R$ &quot;* #.##0,00_-;-&quot;R$ &quot;* #.##0,00_-;_-&quot;R$ &quot;* &quot;-&quot;??_-;_-@_-"> <?php echo $dados['CREDITO'] ?> </td>
		<td valign=middle sdval="17678.14" sdnum="1033;0;_-&quot;R$ &quot;* #.##0,00_-;-&quot;R$ &quot;* #.##0,00_-;_-&quot;R$ &quot;* &quot;-&quot;??_-;_-@_-"> <?php echo $dados['ENTRADA'] ?> </td>
		<td><?php echo $dados['PARCELAS'] ?></td>
		<td><?php echo $dados['SEGMENTO'] ?></td>
		<td sdnum="1033;1033;M/D/YYYY"><?php echo $dados['VENCIMENTO'] ?></td>
		<td sdval="10611" sdnum="1033;"><?php echo $dados['CODIGO'] ?></td>
		<td sdval="10611" sdnum="1033;"><a href="https://api.whatsapp.com/send?phone=5519989081276&text=Ol%C3%A1%2C%20vi%20o%20seu%20site%20e%20tenho%20interesse%20no%20cr%C3%A9dito%20de%20c%C3%B3digo%<?php echo $dados['CODIGO'] ?>" target="_blank" class="btn btn-success" title="Quero essa cota">Quero essa cota</a></td>
    <tr>
        <td><img src="{{cota.img}}" alt="{{cota.administradora}}"></td>
		<td>{{ cota.valor }} </td>
		<td>{{ cota.entrada }} </td>
		<td>{{ cota.parcelas }}</td>
		<td>{{ cota.segmento }}</td>
		<td>{{ cota.vencimento }}</td>
		<td>{{ cota.codigo }}</td>
		<td><a href="https://api.whatsapp.com/send?phone=5519989081276&text=Ol%C3%A1%2C%20vi%20o%20seu%20site%20e%20tenho%20interesse%20no%20cr%C3%A9dito%20de%20c%C3%B3digo%{{cota.codigo}}" target="_blank" class="btn btn-success" title="Quero essa cota">Quero essa cota</a></td>
    </tr>
